/* /Shared/UpdateAvailableDetector.razor.rz.scp.css */
[b-lvnpn76nh3] .floating-update-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem 1.5rem;
    animation: fadein-b-lvnpn76nh3 2s ease-out;
}

@keyframes fadein-b-lvnpn76nh3 {
    from {
        right: -100%;
    }

    to {
        right: 2rem;
    }
}
