@inherits LayoutComponentBase

<UpdateAvailableDetector></UpdateAvailableDetector>


<MudThemeProvider Theme="@this.Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Sound Overlay</PageTitle>

<MudAppBar Color="Color.Primary" Fixed="true" Dense="true">
    <MudSpacer />
    <MudText Typo="Typo.h6">Sound Overlay</MudText>
    <MudSpacer/>
    <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Inherit" Style="color: white !important;" Variant="Variant.Text" OnClick="this.OpenInfoDialog" Edge="Edge.End"/>
</MudAppBar>

<div style="padding-top: 64px;">
    @this.Body
</div>



@code
{
    [Inject]
    public IDialogService DialogService { get; set; } = null!;

    private void OpenInfoDialog()
    {
        var options = new DialogOptions
        {
            NoHeader = true,
            FullWidth = true,
            MaxWidth = MaxWidth.ExtraLarge,
        };

        this.DialogService.Show<InfoDialog>("Info", options);
    }

    public MudTheme Theme { get; } = new TmpTheme();

    public class TmpTheme : MudTheme
    {
        public TmpTheme()
        {
            this.PaletteLight = new PaletteLight()
            {
                Primary = "#ad3d31",
            };
            this.PaletteDark = new PaletteDark()
                {
                    Primary = "#ad3d31",
                };
        }
    }
}
